$c-primary: #313237;
$c-secondary: #89939a;
$c-icons: #b4bdc3;
$c-elements: #e2e6e9;
$c-hover-bg: #fafbfc;
$c-green: #27ae60;
$c-red: #eb5757;
$mobile-screen: 420px;
$tablet-screen: 640px;
$desktop-screen-s: 1199px;
$desktop-screen-l: 1600px;
$desktop-screen-xl: 2560px;