$c-primary:   #476930;  // Темно-зелений, надійний для основного тексту
$c-secondary: #86B049;  // Світліший зелений, підходить як допоміжний
$c-icons:     #CBB88A;  // Пісочний, добре виглядає для іконок
$c-elements:  #B5D6A6;  // М’який зелений з палітри, гарно для елементів
$c-hover-bg:  #FFDEEA;  // Теплий пастельний, привертає увагу
$c-green:     #27AE60;  // Залишимо, бо гарно підходить
$c-red:       #E78A8C;  // М’який рожевий замість агресивного червоного
$c-bg:        #F1E0DB;  // Теплий пастельний фон
$mobile-screen: 420px;
$tablet-screen: 640px;
$desktop-screen-s: 1199px;
$desktop-screen-l: 1600px;
$desktop-screen-xl: 2560px;